<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prak Sismul | Adi Pratama Putra</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
<body>
  <%- include('../navbar'); %>
  <div class="container mt-5 text-center">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title h3">Blur</h1>
              <p class="card-text">Memberikan efek blur</p>
              <a href="/blur"><button class="btn btn-primary w-100">Blur</button></a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title h3">Crop</h1>
              <p class="card-text">Memotong gambar</p>
              <a href="/crop"><button class="btn btn-primary w-100">Crop</button></a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title h3">Flip</h1>
              <p class="card-text">Membalik gambar</p>
              <a href="/flip"><button class="btn btn-primary w-100">Flip</button></a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title h3">Composite</h1>
              <p class="card-text">Menimpa 2 gambar</p>
              <a href="/composite"><button class="btn btn-primary w-100">Composite</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title h3">Resize</h1>
              <p class="card-text">Mengubah ukuran gambar</p>
              <a href="/resize"><button class="btn btn-primary w-100">Resize</button></a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title h3">Sharpen</h1>
              <p class="card-text">Mempertajam gambar</p>
              <a href="/sharpen"><button class="btn btn-primary w-100">Sharpen</button></a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title h3">Rotate</h1>
              <p class="card-text">Memutar gambar</p>
              <a href="/rotate"><button class="btn btn-primary w-100">Rotate</button></a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
                <h1 class="card-title h3">Color Manipulation</h1>
                <p class="card-text">Memanipulasi warna pada gambar</p>
                <a href="/colourmanip"><button class="btn btn-primary w-100">Reverse</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>  
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>
</html>