<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prak Sismul | Adi Pratama Putra</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <%- include('./navbar'); %>
    <div class="container">
        <div class="row mt-5">
            <div class="col-3">
                <div class="card text-center">
                    <img src="/pic/profil.jpg" class="card-img-top rounded-circle w-50 h-50 overflow-hidden mx-auto mt-3" alt="Profile Picture">
                    <div class="card-body">
                      <h5 class="card-title">Adi Pratama Putra</h5>
                      <p class="card-text">1207050140</p>
                      <p class="card-text">Teknik Informatika</p>
                    </div>
                </div>                  
            </div>
          <div class="col-3 offset-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Image Processing</h5>
                    <ol>
                        <li>Blur</li>
                        <li>Resize</li>
                        <li>Crop</li>
                        <li>Flip</li>
                        <li>Rotate</li>
                        <li>Sharpen</li>
                        <li>Composite</li>
                        <li>Color Manipulation</li>
                    </ol>
                    <a href="/gambar"><button class="btn btn-primary w-100">Image Menu</button></a>
                </div>
            </div> 
          </div>
          <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Audio Processing</h5>
                  <ol>
                    <li>Volume</li>
                    <li>Compressor</li>
                    <li>Delay</li>
                    <li>Panner</li>
                    <li>Reverse</li>
                </ol>
                  <a href="/audio"><button class="btn btn-primary w-100">Audio Menu</button></a>
                </div>
            </div> 
          </div>
        </div>
    </div>
            
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>

</html>