<form action="/resize" method="POST" enctype="multipart/form-data">
    <h1>resize</h1>
    <input type="file" name="image">
    <input type="number" name="width" placeholder="Width">
    <input type="number" name="height" placeholder="Height">
    <button type="submit">Resize</button>
  </form>
  

  <form action="/crop" method="POST" enctype="multipart/form-data">
    <h1>Crop</h1>
    <input type="file" name="image">
    <input type="number" name="width" placeholder="Width">
    <input type="number" name="height" placeholder="Height">
    <button type="submit">Resize</button>
  </form>